body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

h4 {
    color: white;
}
.nav-item {
    list-style: none;
}
.nav-link, .social-icon {
    text-decoration: none;
    color: white;
}
.navbar-brand {
    font-weight: 700px;
    font-size: 30px;
}

#firstname {
    color: white;
}
#lastname, #fullname {
    color: red;
}


.lead {
    color: white;
}


.svg {
    height: 200px;
    width: 150px;
}

h2 {
    color: red;
}


