body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
}


h1,h2,h3 {
    font-weight: 700px;
}
#firstname {
    color: white;
}

#lastname {
    color: greenyellow;
}
